#logo {
	width: 200px
}
#menu {
	height: 60px;
}
img {
	width: 100%;
}
hr {
	width: 70px;
	height: 2px;
}
.heightimg {
	height: 600px;
}
#counterup {
	background-image: url(images/bg-section-facts.jpg);
}
.bgmuted {
	background-color: #d0d0d0;
}
.bormuted {
	border: 1px solid #d0d0d0;

}
.bormuted:hover .text-muted {
	color: #ffc107 !important;
}
.card-header:hover {
	color: white;
}
#fontleft {
	width: 60%;
	float: left;

}
#anh1 {
	width: 40%;
	float: right;
}
.slides {
	height: 600px;
}
.mar{
	font-size: 70px;
}
.img {
     height: 300px !important;
    }
.col-lg-3 {
	padding: 0px;
}
.over {
	overflow: scroll;
	
	height: 600px;
}
.itron {
  line-height: 42px;
  width: 42px;
  height: 42px;
  border: 1px solid;
  border-radius: 50%;
  margin: 5px;
}

.carousel-indicators li {
	border: none;
	 background-color: #ffc107;
	 width: 10px !important;
  height: 10px !important;
  border-radius: 50%;

}
#end {
	background-color: black;
}
.cus {
	width: 100px;
    z-index: 100;
    position: relative;
}




@media (min-width:992px) {
	.pad{
		display: none;

	}
	.smp {
display: none;
	}
	
}


.custom {
   display: inline-block;
   text-align: center;
   margin-top: 40px;
   padding-left: 10px;
   padding-right: 10px;

 }

.text5 {

  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: -40px;
  z-index: 5;
  position: relative;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
  -moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 10);
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);

}
@media (max-width:991px) {
	.pad {
		font-size: 40px;
		display: block;
	}
	.lap{
		display: none;

	}
	.smp {
display: none;
	}
	.folio {
		display: none;
	}	
	.quote {
		float: none  !important;
		margin: auto;

	}
	.text1{
		text-align: center !important;
	}
	.img50 {
		width: 50% !important;
	}
	.mr20{
margin-left: 20px;
	}
	.text2 {
		font-size: 10px;
	}
}

@media (max-width:576px) {
	.lap{
		display: none;

	}
	.pad {
display: none;
	}
	.smp {
		display: block;
		font-size: 25px;
	}
	.mr20{
margin-left: -22px;
	}
	
}

  




